{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CECyCLUB'S -
        {% block title %}{% endblock %}
    </title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloGeneral.css' %}">
    <link rel="stylesheet" href="{% static 'css/animaciones.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>
{% block estilosExtra %}

{% endblock %}
</head>
<body>

    
<style>
    .btn-iniciar-sesion {
    background-color: white; /* Ajusta según tu paleta */
    color: var(--color-principal);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-iniciar-sesion:hover {
    background-color: var(--color-secundario);
    color: black; /* Color al pasar el mouse */
}

</style>
    <!-- Encabezado -->
    <header>
        <span class="logo">
                <h1>CECyCLUB'S 
                {% if request.user.is_authenticated %}
                    {% if request.user.rol == 'administrador' %}
                        - Administrador
                    {% elif request.user.rol == 'usuario' %}
                        - Usuario
                    {% endif %}
                {% else %}
                    <a href="{% url 'configuracion:configuracion' %}" class="btn-iniciar-sesion">Iniciar sesión</a>
                {% endif %}</h1>
        </span>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'clubes' %}">Clubes</a></li>
                <li><a href="{% url 'eventos' %}">Eventos</a></li>
                <li><a href="{% url 'configuracion:configuracion' %}">Configuración</a></li>
            </ul>
        </nav>
        <button class="menu-btn" onclick="menuDesplegable()">☰</button>
        {% block headerExtra %}{% endblock %}
    </header>

    <section class="menu-desplegable" id="menuDesplegable">
        <button class="close-btn" onclick="menuDesplegable()">✖</button> <!-- Botón para cerrar el menú -->
        <ul>
            <li><a target="_blank" href="#inicio">Inicio</a></li>
            <li><a target="_blank" href="#servicios">Clubes</a></li>
            <li><a target="_blank" href="#equipo">Eventos</a></li>
            <li><a target="_blank" href="#contacto">Configuración</a></li>
        </ul>
    </section>

    <!-- Contenido principal -->
    {% block contenidoPrincipal %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <section class="footer-informacion">
            <h3>Contacta con nosotros</h3>
            <p><strong>Email:</strong> plantel.cuautitlanizcalli@cecytem.mx</p>
            <p><strong>Teléfono:</strong> (55) 58 77 93 06</p>
            <p><strong>Dirección:</strong> Col. Santa Ma. Guadalupe Las Torres, Sección I, Cuautitlán Izcalli, Estado de México</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci fugit, sapiente quibusdam temporibus ipsa illo maxime eaque eveniet vitae necessitatibus harum provident aut? In quaerat nesciunt illo fuga harum!</p>
        </section>
        <section class="footer-redes">
            <h3>Síguenos en redes sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com/CecytemPlantelCuautitlanIzcalli/?locale=es_LA" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                <li><a href="https://www.instagram.com/cecytem_pcizcalli/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
        </section>
    </footer>

    <script src="{% static 'javascript/menuDesplegable.js' %}"></script>
    <script src="{% static 'javascript/animaciones.js' %}"></script>
</body>
</html>
