:root {
    --color-principal: #ff5733;
    --color-secundario: #ffc300;
    --color-parrafo: #ffffff;
    --color-fondo: #f8f8f8;
    --color-parrafoNormal: #333;
}

#clubes-section {
    padding: 40px;
    background-color: var(--color-fondo);
}

/* Barra de búsqueda */
.busqueda-clubes {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.busqueda-clubes input {
    flex: 1;
    max-width: 1100px;
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    font-size: 16px;
    color: var(--color-parrafoNormal);
    background-color: var(--color-parrafo);
}

.busqueda-clubes button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: var(--color-principal);
    color: var(--color-parrafo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.busqueda-clubes button:hover {
    background-color: var(--color-secundario);
    color: var(--color-parrafoNormal);
}

/* Categorías de clubes */
h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: var(--color-principal);
    font-weight: 600;
}

.clubes-categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

/* clubes */
.club {
    flex: 1 0 calc(20% - 20px);
    background-color: var(--color-parrafo);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: transform 0.6s ease-in-out;
    position: relative;
    text-decoration: none;
    color: inherit;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.club img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.club h3 {
    margin-top: 15px;
    font-size: 18px;
    color: var(--color-principal);
    font-weight: 700;
}

.club p {
    font-size: 14px;
    color: var(--color-parrafoNormal);
    margin-top: 10px;
    flex-grow: 1;
}

.club:hover {
    transform: translateY(-10px);
}

.club:hover .integrantes {
    opacity: 0;
}

.ver-mas {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: var(--color-principal);
    color: var(--color-parrafo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.club:hover .ver-mas {
    display: inline-block;
}

.ver-mas:hover {
    background-color: var(--color-secundario);
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .club {
        flex: 1 0 calc(33% - 20px);
    }
}

@media screen and (max-width: 780px) {
    .club {
        flex: 1 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .club {
        flex: 1 0 100%;
    }
}