:root {
    --color-principal: #ff5733;
    --color-secundario: #ffc300;
    --color-parrafo: #ffffff;
    --color-fondo: #f8f8f8;
    --color-parrafoNormal: #333;
}

/* Bienvenida */

.bienvenida {
    padding: 100px 20px;
    background: linear-gradient(135deg, #ff5733, #ffc300);
    border-bottom-left-radius: 15px;
    border-radius: 0 0 30px 30px;
    color: var(--color-fondo);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.bienvenida-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.texto-bienvenida {
    flex: 1 1 50%;
    padding: 20px;
    text-align: left;
}

.texto-bienvenida h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-parrafo);
}

.texto-bienvenida p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--color-parrafo);
    margin-bottom: 30px;
}

.btn-explorar {
    padding: 15px 30px;
    background-color: var(--color-fondo);
    color: var(--color-principal);
    font-size: 1.2em;
    border: 1px solid var(--color-principal);
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.btn-explorar:hover {
    background-color: var(--color-principal);
    color: var(--color-parrafo);
}

.imagen-bienvenida {
    flex: 1 1 40%;
    padding: 20px;
}

.imagen-bienvenida img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.imagen-bienvenida img:hover{
    transform: scale(1.05);
}

.indicador-bajar {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--color-parrafo);
    animation: bajar 1s infinite;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

@keyframes bajar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media (max-width: 890px) {
    .bienvenida {
        padding: 25px 20px 100px 20px;
    }
    .texto-bienvenida h1 {
        font-size: 3rem; 
    }

    .texto-bienvenida p {
        font-size: 1.3rem;
        line-height: 1.5;
    }
}

@media (max-width: 560px) {
    .texto-bienvenida h1 {
        text-align: center;
        font-size: 2.5rem; 
    }

    .texto-bienvenida p {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.3;
    }
}

@media (max-width: 560px) {
    .texto-bienvenida h1 {
        font-size: 2rem;
    }
}

@media (max-width: 360px) {
    .texto-bienvenida h1 {
        font-size: 1.5rem;
    }

    .texto-bienvenida p {
        line-height: 1;
    }

    .btn-explorar {
        padding: 6px;
        font-size: 1.2rem;
        transition: background-color 0.3s;
    }

}

/* porque participar */

.porque-participar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background: var(--color-fondo);
    gap: 3rem;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.porque-participar-texto {
    flex: 1;
    max-width: 50%;
    color: var(--color-parrafoNormal);
}

.porque-participar-texto h2 {
    font-size: 2.2em;
    color: var(--color-principal);
    margin-bottom: 1em;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 1;
}

.porque-participar-texto p {
    margin-bottom: 1.5em;
    color: var(--color-parrafoNormal);
    font-size: 1.1em;
    line-height: 1.5;
}

.porque-participar-texto ul {
    list-style: none;
    padding: 0;
}

.porque-participar-texto ul li {
    font-size: 1.1em;
    margin: 8px 0;
    color: var(--color-parrafoNormal);
    display: flex;
    align-items: center;
}

.porque-participar-texto ul li::before {
    content: '✔';
    color: var(--color-principal);
    margin-right: 10px;
    font-size: 1.2em;
}

.porque-participar-texto ul li strong {
    color: var(--color-principal);
}

.porque-participar-imagen {
    flex: 1;
    max-width: 45%;
}

.porque-participar-imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.porque-participar-imagen img:hover {
    transform: scale(1.05);
}

@media (max-width: 800px) {
    .porque-participar {
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }

    .porque-participar-texto {
        max-width: 100%;
        text-align: center;
    }

    .porque-participar-imagen {
        max-width: 100%;
        margin-top: 1em;
    }
}


/* Pasos para pertenecer */

.pasos {
    padding: 50px 20px;
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.pasos h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2em;
    color: var(--color-principal);
}

.pasos-contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta {
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 30px;
    flex: 1 1 calc(25% - 40px);
    max-width: 250px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: translateY(-15px);
}

.tarjeta h3 {
    font-size: 1.5rem;
    color: var(--color-principal);
    margin-bottom: 15px;
}

.numero-paso {
    font-size: 3rem;
    color: var(--color-principal);
    margin-right: 10px;
}

.tarjeta p {
    color: var(--color-parrafoNormal);
}
@media (max-width: 500px) {
    .pasos h2 {
        font-size: 1.8em;
    }
}

/* Valores que se promueven */

.valores-banner {
    background-color: var(--color-principal);
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}

.valores-banner h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2em;
    color: var(--color-parrafo);
}

.valores-contenido {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.valor {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.valor h3 {
    font-size: 1.8em;
    color: var(--color-principal);
    margin-bottom: 15px;
}

.valor p {
    color: var(--color-parrafoNormal);
    font-size: 1.1em;
    line-height: 1.5;
}

@media (max-width: 500px) {
    .valores-banner h2 {
        font-size: 1.8em;
    }
}

/* Equipo */

.equipo {
    text-align: center;
    background-color: var(--color-fondo);
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.equipo h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--color-principal);
}

.equipo-carrusel {
    overflow: hidden;
    margin-top: 20px;
}

.carrusel-interno {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.miembro {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.miembro img {
    border: 7px solid var(--color-principal);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0 auto;
}

.miembro h3 {
    font-size: 1.5em;
    margin: 0 0 20px;
    color: var(--color-principal);
}

.miembro p {
    margin: 5px 0;
    font-size: 1em;
    color: var(--color-parrafoNormal);
}

.miembro-texto {
    flex-grow: 1;
    text-align: left;
}

.miembro-texto a {
    display: inline-block;
    margin-top: 10px;
    color: var(--color-principal);
    text-decoration: none;
}

.miembro-texto a:hover {
    text-decoration: underline;
}

.controles {
    margin-top: 20px;
    text-align: center;
}

.controles a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: var(--color-principal);
    color: var(--color-parrafo);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid var(--color-principal);
}

.controles a:hover {
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

@media (max-width: 770px) {
    .miembro {
        flex-direction: column;
        align-items: center;
    }
    .miembro img {
        width: 120px;
        height: 120px;
    }
    .miembro h3 {
        font-size: 1.2em;
    }
    .miembro p {
        font-size: 0.9em;
    }
    .controles a {
        padding: 8px 16px;
    }
}

@media (max-width: 500px) {
    .equipo h2 {
        font-size: 1.8em;
    }
}
