{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Agregar Evento - {{ club.nombre }}{% endblock %}

{% block contenidoPrincipal %}
<main class="agregar-evento">
    <h1>Agregar Evento al Club: {{ club.nombre }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="titulo">Título del Evento:</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>
        
        <div>
            <label for="descripcion">Descripción del Evento:</label>
            <textarea id="descripcion" name="descripcion" rows="5" required></textarea>
        </div>
        
        <div>
            <label for="fecha">Fecha del Evento:</label>
            <input type="datetime-local" id="fecha" name="fecha" required>
        </div>

        <div>
            <label for="imagenes">Imágenes del Evento:</label>
            <input type="file" name="imagenes" accept="image/*" >
        </div>

        <button type="submit" class="boton">Agregar Evento</button>
    </form>
    <a href="{% url 'detalle_club' club.nombre %}" class="boton regresar">Regresar a detalles del club</a>
</main>
{% endblock %}
