{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Clubes{% endblock %}


{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/clubes.css' %}">
{% endblock %}

{% block contenidoPrincipal %}

<main id="clubes-section">
    <!-- Barra de búsqueda -->
    <div class="busqueda-clubes">
        <input type="text" id="busqueda" placeholder="Buscar clubes...">
        <button type="submit">Buscar</button>
    </div>

    <!-- Clasificador por categorías -->
    {% for categoria, clubes_categoria in clubes.items %}
        <h2>{{ categoria }}</h2>
        <div class="clubes-categoria">
            {% for club in clubes_categoria %}
                <a href="{% url 'detalle_club' club.nombre %}" class="club">
                    <img src="{{ club.imagen }}" alt="{{ club.nombre }}">
                    <h3>{{ club.nombre }}</h3>
                    <p class="integrantes">Integrantes: {{ club.integrantes }}</p>
                    <button class="ver-mas">Ver más</button>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</main>

{% endblock %}
