{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Clubes{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/clubes.css' %}">
{% endblock %}

{% block contenidoPrincipal %}

<main id="clubes-section">
    <!-- Barra de búsqueda -->
    <div class="busqueda-clubes">
        <form method="GET">
            <input type="text" id="busqueda" name="busqueda" placeholder="Buscar clubes..." value="{{ busqueda }}">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <!-- Botón para solicitar nuevos clubes visible solo para usuarios con rol 'usuario' -->
    {% if user.rol == 'usuario' %}
    <div class="solicitar-club">
        <a href="{% url 'solicitar_club' %}" class="btn-solicitar">Solicitar nuevo club</a>
    </div>
    {% endif %}

    <!-- Botón para acceder a las solicitudes visible solo para usuarios con rol 'administrador' -->
    {% if user.rol == 'administrador' %}
    <div class="solicitudes">
        <a href="{% url 'solicitudes' %}" class="btn-solicitar">Solicitudes</a>
    </div>
    {% endif %}

    <!-- Clasificador por categorías -->
    {% for categoria, clubes_categoria in clubes.items %}
        <h2>{{ categoria }}</h2>
        <div class="clubes-categoria">
            {% for club in clubes_categoria %}
                <a href="{% url 'detalle_club' club.nombre %}" class="club">
                    <img src="/{{ club.imagen }}" alt="{{ club.nombre }}">
                    <h3>{{ club.nombre }}</h3>
                    <p class="integrantes">Integrantes: {{ club.miembros.count }}</p>
                    <button class="ver-mas">Ver más</button>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</main>

{% endblock %}
