{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/formularioGeneral.css' %}">
{% endblock %}

{% block contenidoPrincipal %}
<main>
    <div class="formulario-contenido">
        <h2>Editar Perfil</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="grupo-formulario">
                <label for="nombre_completo">
                    <input type="text" name="nombre_completo" value="{{ user.nombre_completo }}" required>
                    <span>Nombre Completo</span>
                </label>
            </div>
            
            <div class="grupo-formulario">
                <label for="email">
                    <input type="email" name="email" value="{{ user.email }}" required>
                    <span>Correo Electrónico</span>
                </label>
            </div>
            
            <div class="grupo-formulario">
                <label for="foto_perfil" class="btn-seleccionar-imagen">
                    Seleccionar Foto de Perfil
                    <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*" onchange="previewProfileImage(event)">
                </label>
                <div id="foto-perfil-preview" class="imagen-preview">
                    <!-- Previsualización de la imagen seleccionada aquí -->
                </div>
            </div>
            
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</main>

<script>
    function previewProfileImage(event) {
        const fileInput = event.target;
        const previewContainer = document.getElementById('foto-perfil-preview');

        // Limpiar la previsualización
        previewContainer.innerHTML = '';

        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                // Crear una imagen y agregarla al contenedor de previsualización
                const img = document.createElement('img');
                img.src = e.target.result;
                previewContainer.appendChild(img);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}
