{% extends 'estiloGeneral.html' %}
{% block title %}Calendario de Eventos{% endblock %}

{% block contenidoPrincipal %}
<main class="calendario">
    <h1>Calendario de Eventos</h1>
    <div class="eventos-lista">
        {% for evento in eventos %}
            <div class="evento-item">
                {% if evento.imagen %}
                    <img src="{{ evento.imagen }}" alt="{{ evento.nombre }}" class="evento-img">
                {% endif %}
                <div class="presentar">
                    <h2>{{ evento.titulo }}</h2>
                    <p>{{ evento.descripcion }}</p>
                    <p><strong>Fecha:</strong> {{ evento.fecha }}</p>

                    <!-- Verificar si el evento tiene una asistencia asociada al usuario -->
                    {% for asistencia in asistencias %}
                        {% if asistencia.club_id == evento %}
                            <!-- Mostrar el enlace de eliminación solo si el usuario está asistiendo -->
                            <a href="{% url 'eliminarAsistencia' asistencia.pk %}">Ya no asistiré</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>

<style>
    :root {
        --color-principal: #ff5733;
        --color-secundario: #ffc300;
        --color-parrafo: #ffffff;
        --color-fondo: #f8f8f8;
        --color-parrafoNormal: #333;
    }

    .evento-item{
        display: flex;
        margin: auto;
        flex-direction: row;
        gap: 4vw;
        padding: 2vw;
        margin: 2vw;
        border: solid var(--color-principal) 2px;
        border-radius: 1vw;
        box-sizing: border-box;
        transition: all 1s;
    }

    .evento-item:hover{
        scale: 1.02;
        transition: all .5s;
    }

    .presentar{
        display: flex;
        flex-direction: column;
    }

    .presentar a{
        background-color: var(--color-principal);
        padding: 1vw;
        border-radius: 1vw;
        box-sizing: border-box;
        transition: all 1s;
        text-align: center;
    }

    .presentar a:hover{
        background-color: var(--color-parrafoNormal);
        color: var(--color-principal);
        border: solid var(--color-principal) 2px;
        transition: all .3s;
    }

    .evento-item img{
        max-width: 43vw;
    }
</style>
{% endblock %}
