{% extends 'estiloGeneral.html' %}  <!-- Usando la ruta al template del estilo general -->
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block contenidoPrincipal %}

<main>
    <section class="bienvenida">
        <div class="bienvenida-contenido">
            <article class="texto-bienvenida">
                <h1>¡Bienvenid@ a CECyCLUB'S!</h1>
                <p>Somos una institucion donde tenemos una gran variedad de talleres para que cada estudiante pueda hacer lo que le apasiona, invitamos a estos estudiantes a inscribirse y que puedan demostrar de lo que son capaces. :)</p>
                <a href="#clubes" class="btn-explorar">Explora nuestros clubes</a>
            </article>
            <article class="imagen-bienvenida oculo animar-deslizar-izquierda">
                <img src="https://cecytem.edomex.gob.mx/sites/cecytem.edomex.gob.mx/files/images/CUAUTITLAN%20IZCALLI.jpg" alt="Bienvenida a Cecyclubs">
            </article>
        </div>
        <div class="indicador-bajar">
            <span>↓</span>
        </div>
    </section>

    <!-- Ejemplo de como se usa la animacion a partir de las animaciones del archivo animaciones.css q esta en -->
    <section class="pasos animar" data-animacion="deslizar-izquierda">
        <h2>Pasos para Iniciar</h2>
        <div class="pasos-contenido">
            <article class="tarjeta">
                <h3><span class="numero-paso">1</span> Regístrate</h3>
                <p>Crea tu cuenta para acceder a los clubes.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">2</span> Explora Clubes</h3>
                <p>Descubre clubes que se alineen con tus intereses.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">3</span> Únete a uno</h3>
                <p>Solicita unirte.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">4</span> Participa en Eventos</h3>
                <p>Asiste a eventos.</p>
            </article>
        </div>
    </section>

    <section class="porque-participar">
        <div class="porque-participar-imagen">
            <img src="https://cecytem.edomex.gob.mx/sites/cecytem.edomex.gob.mx/files/images/CUAUTITLAN%20IZCALLI.jpg" alt="Beneficios de Participar">
        </div>
        <div class="porque-participar-texto">
            <h2>¿Por qué Participar?</h2>
            <p>Nuestro objetivo es fomentar interés en los estudiantes para que desarrollen habilidades sociales, liderazgo, diversidad e inclusión.
            Queremos enriquecer la experiencia educativa, fomentar su participación y compromiso estudiantil, tambien fortalecer a la comunidad escolar.

            <h3>A su vez queremos beneficiar a los estudiantes en:</h3>

            <ul>
                
                <li><strong>1- La mejora de autoestima y confianza.</strong></li>
                <li><strong>2- Desarrollo de habilidades de comunicación.</strong></li>
                <li><strong>3- Fomentar su creatividad e innovacion.</strong></li>
                <li><strong>4- Ayudar a establecer relaciones entre estudiantes</strong></li>
            </ul>
        </div>
    </section>

    <section class="valores-banner">
        <h2>Valores que impartimos</h2>
        <div class="valores-contenido">
            <div class="valor">
                <h3>Colaboración</h3>
                <p>Fomentamos el trabajo en equipo y las conexiones significativas.</p>
            </div>
            <div class="valor">
                <h3>Innovación</h3>
                <p>Impulsamos nuevas ideas y proyectos que cambian nuestra comunidad.</p>
            </div>
            <div class="valor">
                <h3>Inclusión</h3>
                <p>Todos son bienvenidos en Cecyclubs, sin importar su origen o habilidades.</p>
            </div>
        </div>
    </section>

    <section class="equipo">
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="equipo-contenido">
            <div class="equipo-carrusel">
                <div class="carrusel-interno">
                    <article class="miembro">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnzNLPlZtpgGE_A_Jkp3wHV7UAg_cLRd8EvQ&s" alt="Foto de Miembro 1">
                        <div class="miembro-texto">
                            <h3>Christian Aaron Garduño Mendoza</h3>
                            <p>Coordinador de proyecto</p>
                            <p>Se basa en llevar al equipo a hacer un buen proyecto y elabora gran parte del proyecto </p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                    <article class="miembro">
                        <img src="https://static.wikia.nocookie.net/6e936e5b-25a4-482c-b7be-e639beeb2c15/scale-to-width/755" alt="Foto de Miembro 2">
                        <div class="miembro-texto">
                            <h3>Eduardo Orozco Chavez</h3>
                            <p>Diseñador del proyecto</p>
                            <p>Se basa en buscar y desarrollar un buen diseño para este proyecto.</p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                    <article class="miembro">
                        <img src="https://i.pinimg.com/236x/4b/af/d8/4bafd8292d911c9d01a6cb576cbc64ed.jpg" alt="Foto de Miembro 3">
                        <div class="miembro-texto">
                            <h3>Zair Vazquez Ibarra</h3>
                            <p>Jefe de proyecto</p>
                            <p>Escoje a los integrantes del equipo para un buen desarrollo de proyecto y aporta gran parte en el desarrollo del sistema</p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                    <article class="miembro">
                        <img src="https://i.pinimg.com/550x/4f/bc/32/4fbc3235655705092767b1a78a4001d3.jpg" alt="Foto de Miembro 4">
                        <div class="miembro-texto">
                            <h3>Luis Fernando Castañeda Diaz</h3>
                            <p>Diseñador  y redactor del proyecto</p>
                            <p>Se basa en elaborar el diseño que su compañero le dió para que el proyecto tenga buena presentación y buena redacción</p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                    <article class="miembro">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmSaaddBQKHgvmxPcxZ5f7c6fAFpE7cf9yfw&s" alt="Foto de Miembro 5">
                        <div class="miembro-texto">
                            <h3>Yatzeli Perez Vigueras</h3>
                            <p>Planificadora del equipo</p>
                            <p>Se basa en la planificación de cada sección del proyecto.</p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                    <article class="miembro">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTptvveAWmc0fte8QDdtTi23PhCHKWcTlzB6g&s" alt="Foto de Miembro 6">
                        <div class="miembro-texto">
                            <h3>Jhonatan Isaac  Delgado Isidoro</h3>
                            <p>Desarrollador de la base de datos y parte del sistema</p>
                            <p>Se basa el el desarrollo de la base de datos de este proyecto y en l funcion de las secciones del proyecto.</p>
                            <a href="" target="_blank">Contacto</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="controles">
                <a id="anterior">Anterior</a>
                <a id="siguiente">Siguiente</a>
            </div>
        </div>
    </section>

    <script>
        const carrusel = document.querySelector('.carrusel-interno');
        const miembros = document.querySelectorAll('.miembro');
        const totalMiembros = miembros.length;
        let indiceActual = 0;

        function deslizarA(indice) {
            const anchoMiembro = miembros[indice].offsetWidth; // Obtiene el ancho del miembro actual
            carrusel.style.transform = `translateX(-${indice * anchoMiembro}px)`;
        }

        document.querySelector('#siguiente').addEventListener('click', function() {
            indiceActual = (indiceActual + 1) % totalMiembros;
            deslizarA(indiceActual);
        });

        document.querySelector('#anterior').addEventListener('click', function() {
            indiceActual = (indiceActual - 1 + totalMiembros) % totalMiembros;
            deslizarA(indiceActual);
        });
    </script>
    
</main>
{% endblock %}
