{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Inicio de Sesión{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/formularioGeneral.css' %}">

<style>
    .registro-enlace a{
        color: var(--color-principal);
        text-decoration: underline;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block contenidoPrincipal %}
<main class="formulario-main">
    <div class="formulario-contenido">
        <h2>Inicio de Sesión</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="grupo-formulario">
                <label for="email">
                    <input type="text" id="email" name="email" required>
                    <span>Correo Electrónico</span>
                </label>
            </div>

            <div class="grupo-formulario">
                <label for="password">
                    <input type="password" id="password" name="password" required>
                    <span>Contraseña</span>
                </label>
            </div>

            <button type="submit">Iniciar Sesión</button>
            
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
        
        <div class="registro-enlace">
            <p>¿No tienes cuenta? <a href="{% url 'configuracion:registro' %}">Regístrate aquí</a></p>
        </div>
    </div>
</main>
{% endblock %}
