{% extends 'estiloGeneral.html' %}  <!-- Usando la ruta al template del estilo general -->

{% block contenidoPrincipal %}

<main>
    <section class="bienvenida">
        <div class="bienvenida-contenido">
            <article class="texto-bienvenida">
                <h1>¡Bienvenid@ a CECyCLUB'S!</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores eum in aut deleniti earum, facere quibusdam dolorum repudiandae ut! Distinctio nisi harum architecto, praesentium cum facilis similique quasi dignissimos tenetur!</p>
                <a href="#clubes" class="btn-explorar">Explora nuestros clubes</a>
            </article>
            <article class="imagen-bienvenida">
                <img src="https://cecytem.edomex.gob.mx/sites/cecytem.edomex.gob.mx/files/images/CUAUTITLAN%20IZCALLI.jpg" alt="Bienvenida a Cecyclubs">
            </article>
        </div>
        <div class="indicador-bajar">
            <span>↓</span>
        </div>
    </section>

    <section class="pasos">
        <h2>Pasos para unirse a CECyCLUB'S</h2>
        <div class="pasos-contenido">
            <article class="tarjeta">
                <h3><span class="numero-paso">1</span> Regístrate</h3>
                <p>Crea tu cuenta para acceder a los clubes.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">2</span> Explora Clubes</h3>
                <p>Descubre clubes que se alineen con tus intereses.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">3</span> Únete a uno</h3>
                <p>Solicita unirte.</p>
            </article>
            <article class="tarjeta">
                <h3><span class="numero-paso">4</span> Participa en Eventos</h3>
                <p>Asiste a eventos.</p>
            </article>
        </div>
    </section>

    <section class="valores-banner">
        <h2>Valores que impartimos</h2>
        <div class="valores-contenido">
            <div class="valor">
                <h3>Colaboración</h3>
                <p>Fomentamos el trabajo en equipo y las conexiones significativas.</p>
            </div>
            <div class="valor">
                <h3>Innovación</h3>
                <p>Impulsamos nuevas ideas y proyectos que cambian nuestra comunidad.</p>
            </div>
            <div class="valor">
                <h3>Inclusión</h3>
                <p>Todos son bienvenidos en Cecyclubs, sin importar su origen o habilidades.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
