{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/formularioGeneral.css' %}">
{% endblock %}

{% block contenidoPrincipal %}
<main>
    <div class="formulario-contenido">
        <h2>Registro de Usuario</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="grupo-formulario">
                <label for="nombre_completo">
                    <input type="text" name="nombre_completo" id="nombre_completo" required>
                    <span>Nombre Completo</span>
                </label>
            </div>
            
            <div class="grupo-formulario">
                <label for="email">
                    <input type="text" name="email" id="email" required>
                    <span>Correo Electrónico</span>
                </label>
            </div>
            
            <div class="grupo-formulario">
                <label for="password">
                    <input type="password" name="password" id="password" required>
                    <span>Contraseña</span>
                </label>
            </div>
            
            <div class="grupo-formulario">
                <label for="rol">Rol:</label>
                <select name="rol">
                    <option value="usuario" selected>Usuario</option>
                </select>
            </div>            
            
            <div class="grupo-formulario">
                <label for="inputFile" class="btn-seleccionar-imagen">
                    Foto de Perfil (opcional)
                    <input type="file" id="inputFile" name="foto_perfil" accept="image/*" onchange="previewImage(event)">
                </label>
                <div id="imagen-preview" class="imagen-preview">
                    <!-- Previsualización de la imagen seleccionada aquí -->
                </div>
            </div>
            
            <button type="submit">Registrarse</button>
        </form>
    </div>
</main>

{% block scriptsExtra %}
<script>
    function previewImage(event) {
        const fileInput = event.target;
        const previewContainer = document.getElementById('imagen-preview');

        // Limpiar la previsualización
        previewContainer.innerHTML = '';

        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                // Crear una imagen y agregarla al contenedor de previsualización
                const img = document.createElement('img');
                img.src = e.target.result;
                previewContainer.appendChild(img);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}

{% endblock %}
