{% extends 'estiloGeneral.html' %}
{% load static %}

{% block title %}Solicitar Club{% endblock %}

{% block estilosExtra %}
<link rel="stylesheet" href="{% static 'css/solicitarClub.css' %}">
{% endblock %}

{% block contenidoPrincipal %}
<main>
    <div class="formulario-contenido">
        <h2>Solicitar Club</h2>
        <form action="{% url 'solicitar_club' %}" method="POST">
            {% csrf_token %}
            <div class="grupo-formulario">
                <label for="nombre">
                    <input type="text" id="nombre" name="nombre" required>
                    <span>Nombre del club</span>
                </label>
            </div>
            <!-- Se ha eliminado la parte de la descripción -->
            <div class="grupo-formulario">
                <label for="categoria">
                    <select id="categoria" name="categoria" required>
                        <option value="" disabled selected>Selecciona una categoría</option>
                        <option value="ciencia">Ciencia</option>
                        <option value="deportes">Deportes</option>
                        <option value="arte">Arte</option>
                        <option value="tecnologia">Tecnología</option>
                        <option value="literatura">Literatura</option>
                        <option value="musica">Música</option>
                    </select>
                </label>
            </div>
            <div class="grupo-formulario">
                <label for="actividades">
                    <textarea id="actividades" name="actividades" rows="4" required></textarea>
                    <span>Actividades del club</span>
                </label>
            </div>
            <button type="submit">Solicitar Club</button>
        </form>
    </div>
</main>
{% endblock %}
